.sectionn--img1 {
position: absolute;
    width: 277px;
    height: 264px;
    left: 242px;
    top: 253px;

    background: #EA4545;
}


.secktion---img222 {
position: absolute;
    width: 277px;
    height: 264px;
    left: 412px;
    top: 405px;

    background: #5566FF;
}



.section---img333 {
    position: absolute;
        width: 277px;
        height: 264px;
        left: 585px;
        top: 574px;
    
        background: #48FB2B;
}


.img---2--11 {
position: absolute;
    width: 530px;
    height: 371px;
    left: 1118px;
    top: 420px;

    background: #7BE76A;
}


.paragraf--img2-111 {
position: absolute;
    width: 92px;
    height: 88px;
    left: 40px;
    top: 30px;

    background: #FFE9E9;
}


.paragraf--imggm-111 {
    position: absolute;
        width: 92px;
        height: 88px;
        left: 390px;
        top: 230px;
    
        background: #FFE9E9;
} 



.section3---img3-1 {
    position: absolute;
        width: 287px;
        height: 605px;
        left: 1304px;
        top: 865px;
    border: 3px solid black;
        background: #ffffff;
}


.section3---img3-2 {
    position: absolute;
        width: 150px;
        height: 150px;
        left: 70px;
        top: 28px;
        border: 3px solid black;
    border-radius: 80px;
        background: #EC3030;
}



.section3---img3-3 {
    position: absolute;
        width: 150px;
        height: 150px;
        left: 72px;
        top: 222px;
        border: 3px solid black;
    border-radius: 80px;
        background: #FEE715;
}



.section3---img3-4 {
    position: absolute;
        width: 150px;
        height: 150px;
        left: 72px;
        top: 400px;
    border-radius: 80px;
    border: 3px solid black;
        background: #45EF4C;
}



.section---lasting {
    position: absolute;
        width: 540px;
        height: 540px;
        left: 257px;
        top: 897px;
    border-radius: 1450px;
        background: #72F577;
}


.img---last1 {
    position: absolute;
        width: 140px;
        height: 140px;
        left: 97px;
        top: 98px;
    border-radius: 80px;
        background: #FFFFFF;
}

.img---last2 {
        position: absolute;
            width: 140px;
            height: 140px;
            left: 304px;
            top: 98px;
            border-radius: 80px;
            background: #FFFFFF;
}


.img---last3 {
    position: absolute;
        width: 86px;
        height: 86px;
        left: 225px;
        top:  259px;
    
        background: #FFFFFF;
}


.img---last4 {
    position: absolute;
        width: 242px;
        height: 22px;
        left: 150px;
        top: 412px;
    
        background: #FFFFFF;
}